In [1]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\hp\appdata\local\programs\python\python310\lib\site-packages (1.4.3)
Requirement already satisfied: pytz>=2020.1 in c:\users\hp\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2021.3)
Requirement already satisfied: numpy>=1.21.0 in c:\users\hp\appdata\local\programs\python\python310\lib\site-packages (from pandas) (1.23.1)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\hp\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\hp\appdata\local\programs\python\python310\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [2]:
!pip install numpy

Requirement already satisfied: numpy in c:\users\hp\appdata\local\programs\python\python310\lib\site-packages (1.23.1)

In [3]:
from pyspark import SparkContext, SparkConf
from pyspark.sql import SparkSession
 
sc=SparkContext.getOrCreate()
spark = SparkSession.builder.getOrCreate()
ss = spark
dfr = ss.read

In [4]:
df = dfr.csv(r"C:\Users\Hp\Downloads\HRDataset_v14.csv", header=True, inferSchema=True)

In [5]:
df.head()

Row(Employee_Name='Adinolfi, Wilson  K', EmpID=10026, MarriedID=0, MaritalStatusID=0, GenderID=1, EmpStatusID=1, DeptID=5, PerfScoreID=4, FromDiversityJobFairID=0, Salary=62506, Termd=0, PositionID=19, Position='Production Technician I', State='MA', Zip=1960, DOB='07/10/83', Sex='M ', MaritalDesc='Single', CitizenDesc='US Citizen', HispanicLatino='No', RaceDesc='White', DateofHire='7/5/2011', DateofTermination=None, TermReason='N/A-StillEmployed', EmploymentStatus='Active', Department='Production       ', ManagerName='Michael Albert', ManagerID=22, RecruitmentSource='LinkedIn', PerformanceScore='Exceeds', EngagementSurvey=4.6, EmpSatisfaction=5, SpecialProjectsCount=0, LastPerformanceReview_Date='1/17/2019', DaysLateLast30=0, Absences=1)

In [9]:
df.columns

['Employee_Name',
 'EmpID',
 'MarriedID',
 'MaritalStatusID',
 'GenderID',
 'EmpStatusID',
 'DeptID',
 'PerfScoreID',
 'FromDiversityJobFairID',
 'Salary',
 'Termd',
 'PositionID',
 'Position',
 'State',
 'Zip',
 'DOB',
 'Sex',
 'MaritalDesc',
 'CitizenDesc',
 'HispanicLatino',
 'RaceDesc',
 'DateofHire',
 'DateofTermination',
 'TermReason',
 'EmploymentStatus',
 'Department',
 'ManagerName',
 'ManagerID',
 'RecruitmentSource',
 'PerformanceScore',
 'EngagementSurvey',
 'EmpSatisfaction',
 'SpecialProjectsCount',
 'LastPerformanceReview_Date',
 'DaysLateLast30',
 'Absences']

In [7]:
df.count()

311

In [8]:
column_drop = ['DaysLateLast30', 'Absences']
df = df.drop(*column_drop)
print(df.columns)

['Employee_Name', 'EmpID', 'MarriedID', 'MaritalStatusID', 'GenderID', 'EmpStatusID', 'DeptID', 'PerfScoreID', 'FromDiversityJobFairID', 'Salary', 'Termd', 'PositionID', 'Position', 'State', 'Zip', 'DOB', 'Sex', 'MaritalDesc', 'CitizenDesc', 'HispanicLatino', 'RaceDesc', 'DateofHire', 'DateofTermination', 'TermReason', 'EmploymentStatus', 'Department', 'ManagerName', 'ManagerID', 'RecruitmentSource', 'PerformanceScore', 'EngagementSurvey', 'EmpSatisfaction', 'SpecialProjectsCount', 'LastPerformanceReview_Date']

In [9]:
df.cache()

DataFrame[Employee_Name: string, EmpID: int, MarriedID: int, MaritalStatusID: int, GenderID: int, EmpStatusID: int, DeptID: int, PerfScoreID: int, FromDiversityJobFairID: int, Salary: int, Termd: int, PositionID: int, Position: string, State: string, Zip: int, DOB: string, Sex: string, MaritalDesc: string, CitizenDesc: string, HispanicLatino: string, RaceDesc: string, DateofHire: string, DateofTermination: string, TermReason: string, EmploymentStatus: string, Department: string, ManagerName: string, ManagerID: int, RecruitmentSource: string, PerformanceScore: string, EngagementSurvey: double, EmpSatisfaction: int, SpecialProjectsCount: int, LastPerformanceReview_Date: string]

In [17]:
#Mix sql and data frame queries for DataFrame
df.select("Employee_Name","Position").show(5)

+--------------------+--------------------+
|       Employee_Name|            Position|
+--------------------+--------------------+
| Adinolfi, Wilson  K|Production Techni...|
|Ait Sidi, Karthik...|             Sr. DBA|
|   Akinkuolie, Sarah|Production Techni...|
|        Alagbe,Trina|Production Techni...|
|    Anderson, Carol |Production Techni...|
+--------------------+--------------------+
only showing top 5 rows

In [11]:
df.count()

311

In [15]:
def Square_Power(i):
  return i * i
spark.udf.register("Square", Square_Power)

In [16]:
Square_Power(5)

25

In [18]:
import pandas as pd
df1 = pd.DataFrame(
    {
        "Fruits": ["Apple", "bannana", "mango", "Grapes"],
        "Car": ["lambo", "Honda", "suzuki", "Toyota"],
        "Block": ["C0", "C1", "C2", "C3"],
        "Door": ["D0", "D1", "D2", "D3"],
    },
    index=[0, 1, 2, 3],
)


df2 = pd.DataFrame(
    {
        "Fruits": ["orange", "lichi", "fruiter", "water mellon"],
        "Car": ["bmw", "range", "I8", "F1"],
        "Block": ["C4", "C5", "C6", "C7"],
        "Door": ["D4", "D5", "D6", "D7"],
    },
    index=[4, 5, 6, 7],
)




frames = [df1, df2]

result = pd.concat(frames)

In [47]:
print(result)

         Fruits     Car Block Door
0         Apple   lambo    C0   D0
1       bannana   Honda    C1   D1
2         mango  suzuki    C2   D2
3        Grapes  Toyota    C3   D3
4        orange     bmw    C4   D4
5         lichi   range    C5   D5
6       fruiter      I8    C6   D6
7  water mellon      F1    C7   D7

In [ ]:
df1 = spark.read.format("csv").option("header", "true").load(
    "dbfs:/FileStore/shared_uploads/ahmedhassan0057@gmail.com/HRDataset_v14-6.csv")
display(df1)
#We use  Scatter plot to visualize our data for 2 variable empid and salary